FLOWIE_SERVER_IMAGE=flowie-server:local
FLOWIE_CONFIG_FILE=./config/flowie.yml
FLOWIE_GRAPH_FILE=./config/flowie.flow
FLOWIE_CONTROL_CONFIG_FILE=./config/control.yml
FLOWIE_CERT_DIR=./certs
FLOWIE_PLUGIN_DIR=./plugins
FLOWIE_SECRET_ENV_FILE=./secrets.env
FLOWIE_DATA_VOLUME=flowie-data
FLOWIE_PROFILE=flowie
FLOWIE_HEALTH_HOST=127.0.0.1
FLOWIE_HEALTH_PORT=18883
FLOWIE_STORAGE_BACKEND_PLUGINS=
