upstream flowie_mqtt_tls {
    server ${FLOWIE_MQTT_UPSTREAM};
}

server {
    listen 8883 ssl;
    proxy_pass flowie_mqtt_tls;
    proxy_connect_timeout 5s;
    proxy_timeout 1h;

    ssl_certificate /etc/letsencrypt/live/${FLOWIE_PUBLIC_HOST}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${FLOWIE_PUBLIC_HOST}/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_session_cache shared:FLOWIE_MQTT:10m;
    ssl_session_timeout 1h;
    ssl_session_tickets off;

    proxy_ssl on;
    proxy_ssl_server_name on;
    proxy_ssl_name ${FLOWIE_MQTT_TLS_NAME};
    proxy_ssl_trusted_certificate /etc/flowie/internal-ca.pem;
    proxy_ssl_verify on;
    proxy_ssl_verify_depth 3;
    proxy_ssl_protocols TLSv1.2 TLSv1.3;
}
